.u-section-1 .u-image-1 {
  min-height: 425px;
  background-image: url("images/cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-icon-1 {
  height: 42px;
  width: 42px;
  margin: 315px auto 0 101px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: -295px 174px 0 144px;
}

.u-section-1 .u-text-2 {
  margin: 41px 418px 0 268px;
}

.u-section-1 .u-icon-2 {
  height: 44px;
  width: 44px;
  color: rgb(1, 0, 2) !important;
  margin: 30px auto 0 158px;
}

.u-section-1 .u-icon-3 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 224px;
}

.u-section-1 .u-icon-4 {
  height: 47px;
  width: 47px;
  margin: -44px auto 60px 282px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 104px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 318px;
    margin-left: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 208px;
    margin-left: 58px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 489px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 381px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -361px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 158px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 439px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 345px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -324px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    height: 39px;
    width: 39px;
    margin-top: -14px;
    margin-left: 69px;
  }

  .u-section-1 .u-icon-3 {
    height: 42px;
    width: 42px;
    margin-top: -39px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    height: 41px;
    width: 41px;
    margin-bottom: 52px;
    margin-left: 17px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 433px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 33px 738px 0 63px;
}

.u-section-2 .u-shape-1 {
  width: 325px;
  height: 325px;
  margin: 0 auto 0 161px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: -304px 33px 60px 18px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 601px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 346px;
    margin-right: 381px;
  }

  .u-section-2 .u-shape-1 {
    width: 476px;
    height: 476px;
    margin-top: 20px;
    margin-right: 381px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -265px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 269px;
    margin-right: 201px;
  }

  .u-section-2 .u-shape-1 {
    width: 431px;
    height: 431px;
    margin-right: 201px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -297px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
    margin-right: 1px;
  }

  .u-section-2 .u-shape-1 {
    height: 311px;
    width: 311px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -317px;
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 581px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: auto auto;
    height: 1101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3552px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: auto;
    height: 3303px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2329px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2080px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 990px;
}

.u-section-4 .u-text-1 {
  margin: 50px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 796px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto 20px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 656px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1256px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3585px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3391px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2329px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2135px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 798px;
}

.u-section-5 .u-gallery-1 {
  height: 796px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  margin: 1px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-5 .u-gallery-1 {
    height: 656px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1256px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3393px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3391px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2137px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2135px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 15px;
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 782px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  font-style: normal;
  text-decoration: underline;
  margin: 60px 20px 0;
}

.u-section-7 .u-gallery-1 {
  height: 561px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  width: 1120px;
  margin: 75px auto 20px 20px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 471px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1443px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 4550px;
  }

  .u-section-7 .u-gallery-1 {
    height: 4329px;
    grid-template-columns: auto;
    margin-top: 100px;
    width: 540px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2947px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-gallery-1 {
    height: 2726px;
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 630px;
}

.u-section-8 .u-gallery-1 {
  height: 606px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 2px -11px 23px auto;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-8 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-8 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-8 .u-gallery-1 {
    height: 499px;
    margin-top: 115px;
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1553px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1529px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4611px;
  }

  .u-section-8 .u-gallery-1 {
    height: 4587px;
    grid-template-columns: auto;
    margin-top: 140px;
    width: 540px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2912px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2888px;
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 583px;
}

.u-section-9 .u-gallery-1 {
  height: 581px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin: 1px auto;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-9 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-9 .u-gallery-1 {
    height: 479px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1468px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4406px;
  }

  .u-section-9 .u-gallery-1 {
    height: 4404px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2775px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2773px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 309px;
}

.u-section-10 .u-gallery-1 {
  height: 269px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-10 .u-gallery-1 {
    height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1777px;
  }

  .u-section-10 .u-gallery-1 {
    grid-template-columns: auto auto;
    height: 677px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 4713px;
  }

  .u-section-10 .u-gallery-1 {
    grid-template-columns: auto;
    height: 2031px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-10 .u-gallery-1 {
    margin-bottom: 60px;
    height: 1279px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 822px;
}

.u-section-11 .u-icon-1 {
  height: 49px;
  width: 49px;
  margin: -5480px auto 0 344px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 5492px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 722px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-11 .u-form-1 {
  height: 544px;
  width: 625px;
  margin: 0;
}

.u-section-11 .u-form-group-1 {
  width: 100%;
}

.u-section-11 .u-label-1 {
  font-weight: 700;
}

.u-section-11 .u-form-group-2 {
  width: 100%;
}

.u-section-11 .u-label-2 {
  font-weight: 700;
}

.u-section-11 .u-form-group-3 {
  margin-left: 0;
}

.u-section-11 .u-label-3 {
  font-weight: 700;
}

.u-section-11 .u-form-group-4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-11 .u-label-4 {
  font-weight: 700;
}

.u-section-11 .u-form-group-5 {
  width: 100%;
}

.u-section-11 .u-label-5 {
  font-weight: 700;
}

.u-section-11 .u-form-group-6 {
  width: 100%;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 628px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -5419px;
    margin-left: 339px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 5430px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-11 .u-form-1 {
    width: 528px;
  }

  .u-section-11 .u-form-group-3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-11 .u-icon-1 {
    margin-left: 260px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    width: 389px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-icon-1 {
    margin-left: 195px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -5481px;
    margin-left: 123px;
  }

  .u-section-11 .u-form-1 {
    width: 320px;
  }

  .u-section-11 .u-form-group-3 {
    width: 100%;
  }

  .u-section-11 .u-form-group-4 {
    width: 100%;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 168px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 300px;
  min-width: 140px;
  white-space: nowrap;
  margin: 0 auto;
}

.u-section-12 .u-icon-1 {
  height: 100%;
}

.u-section-12 .u-icon-2 {
  height: 100%;
}

.u-section-12 .u-icon-3 {
  height: 100%;
}

.u-section-12 .u-icon-4 {
  height: 100%;
}

.u-section-12 .u-icon-5 {
  height: 100%;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 251px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}